body {
  margin: 0px;
  font-family: var(--default-font-family);
  background-color: rgba(236, 231, 231, 0.253);
}

:root {
  --blue: #002e33;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
  --secondary-color: #036d79;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
  word-spacing: 2px;
}
.navbar img {
  width: 50px;
  margin-left: 20px;
}

.navbar {
  background-color: var(--blue);
  box-shadow: 0 1px 8px #ddd;
}
.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-right: 50px;
}

li a {
  color: white;
  text-decoration: none;
  padding: 20px;
  text-align: center;
}
li {
  display: inline-block;
  padding: 0 10px;
  justify-content: space-between;
  border-right: white;
  border-right: 1px solid #bbb;
}

li:last-child {
  border-right: none;
}
li a:hover {
  text-decoration: underline;
  background-color: white;
  color: var(--blue);
}

.hero {
  text-align: center;
  margin: 80px auto;
}
.hero h1 {
  font-size: 99px;
}

.hero h2 {
  font-size: 40px;
  text-align: center;
  line-height: 1.5;
  margin-top: 40px;
}

.hero h3 {
  font-size: 20px;
}

.btn-branding {
  background: var(--secondary-color);
  border-radius: 20px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.btn-line {
  border: 1px solid var(--secondary-color);
  color: #0592a1;
  border-radius: 20px;
  font-size: 18px;
  font-weight: bold;
  line-height: 27px;
  padding: 15px 30px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.first {
  margin-top: 200px;
}
footer {
  background-color: var(--blue);
  color: white;
  margin: 0;
  padding: 3px;
}

.hey {
  color: white;
  margin-top: 23px;
  font-size: 23px;
}

footer h4 {
  color: white;
  margin-top: 20px;
  font-size: 18px;
}
footer a {
  font-size: 15px;
}
footer a:hover {
  color: white;
}
footer p {
  font-size: 14px;
}

.icon {
  color: var(--secondary-color);
}
.about-section {
  padding: 90px 20px;
}

.about-section h1 {
  font-size: 64px;
  line-height: 80px;
}

.about-section h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}

.content {
  padding: 0;
}

.content-container {
  padding: 120px 20px;
}

.content h1 {
  font-size: 74px;
  line-height: 80px;
  margin-bottom: 50px;
}
.content2 {
  font-size: 74px;
  line-height: 80px;
  margin-bottom: 50px;
}

.content h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}

.content h3 {
  font-size: 24px;
  line-height: 1.5;
  font-family: var(--default-font-family);
}

.content p {
  font-size: 14px;
}

@media (max-width: 900px) {
  .hero h1 {
    font-size: 54px;
  }

  .hero h2 {
    font-size: 34px;
  }

  .hero {
    padding: 0 20px 20px;
    margin: 0;
  }
  .hero img {
    padding-top: 50px;
    width: 300px;
  }
  .project-description {
    text-align: center;
    padding: 0;
  }
  .about-section {
    text-align: center;
    padding: 10px;
    font-size: 18px;
  }
  .hero2 img {
    margin-bottom: 50px;
    margin-top: 0;
  }
  .content {
    text-align: center;
    padding: 0;
  }
  .content h1 {
    font-size: 50px;
    text-decoration: none;
    line-height: 50px;
  }

  .btn-branding {
    font-size: 15px;
    padding: 10px 25px;
  }

  .btn-line {
    font-size: 15px;
    padding: 10px 25px;
  }
  li {
    font-size: 15px;
    padding: 7px 0px;
  }
  .hey {
    border-style: none;
  }
  input[type="text"] {
    width: 300px;
    border-radius: 7px;
    font-size: 18px;
    margin: 7px;
  }
  .textform {
    width: 300px;
  }
  input {
    margin: 0;
  }
  .group {
    margin-left: 70px;
    margin-top: 0;
  }

  .content2 {
    font-size: 44px;
    margin: 0;
  }
}

.copyright {
  padding-left: 120px;
  font-size: 12;
}

.form-type {
  font-size: 20px;
  font-weight: bold;
}

input {
  background: var(--secondary-color);
  border-radius: 20px;
  font-weight: bold;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 25px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

input[type="text"] {
  padding: 25px;
  border-radius: 7px;
  font-size: 18px;
  margin: 7px;
}
.textform {
  padding: 25px;
  border-radius: 7px;
  font-size: 18px;
  margin: 7px;
}
